body {
    min-width: 600px;
}

.container {
    margin-top: 60px;
}

textarea {
    resize:none;
    word-wrap:break-word;
    width:100%;
    min-height:200px;
}

#signInButton {
    margin:7px 10px 7px 0;
}

.navbar-header {
    float:left;
}
.navbar-right {
    margin-right: 0 !important;
    float:right !important;
}
