<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script type="text/javascript" src="/static/js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <title>Catalog App</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Catalog App</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% if user %}
            <li class="active"><a href="#">{{user.username}}</a></li>
            <li><a href="#">Logout</a></li>
            {% else %}
            <li><a href="#">Login</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

</body>